*.og
*.bed
*.gfa
*.out
*.chop
*.crush
*.degree
*.depth
*.emit
*.flatten
*.flip
*.inj
*.matrix
*.overlap
*.overlappaths
*.paths
*.validate

temp.*

basic/*.og
basic/*.out

subset-paths/*.out

depth/*.out
depth/basic/*.out
depth/subset-paths/*.out
