__pycache__/
*.py[cod]
.DS_Store
**/*.chop
**/*.crush
**/*.degree
**/*.depth
**/*.emit
**/*.flatten
**/*.flip
**/*.matrix
**/*.overlap
**/*.validate
**/*.og
**/*.gfa
**/*.out
*.json
og_to_gfa.py
compute_maxes.py

pollen/target/*
pollen/*.rlib

slow_odgi/dist/
