__pycache__/
*.py[cod]
.DS_Store
**/*.chop
**/*.crush
**/*.degree
**/*.depth
**/*.emit
**/*.extract
**/*.flatten
**/*.flip
**/*.matrix
**/*.overlap
**/*.validate
**/*.og
**/*.out
**/*.flatgfa
og_to_gfa.py
compute_maxes.py

target/
pollen/*.rlib

slow_odgi/dist/

.vscode/
