__pycache__/
*.py[cod]

test/*.og
test/*.gfa
test/*.out
test/*.paths

test/basic/*.og
test/basic/*.out

test/subset-paths/*.out

test/temp.*
test/*.n
test/*.chop
test/*.crush
test/*.degree
test/*.depth
test/*.emit
test/*.flatten
test/*.flip
test/*.matrix
test/*.overlap
test/*.validate
test/depth/*.out
test/depth/basic/*.out
test/depth/subset-paths/*.out

*.json
og_to_gfa.py
compute_maxes.py