*.gfa
*.og
*.bed
*.out
*.chop
*.crush
*.degree
*.depth
*.depthpaths
*.flatten
*.flip
*.inj
*.matrix
*.norm
*.overlap
*.overlappaths
*.paths
*.validate
*.flatten.fasta

temp.*

basic/*.og
basic/*.out

subset-paths/*.out

depth/*.out
depth/basic/*.out
depth/subset-paths/*.out
